@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Media Ant Brand Colors */
  --color-brand-purple: #281B6D;
  --color-brand-darkPurple: #1E1356;
  --color-brand-green: #34A853;
  --color-brand-lightBg: #F8F9FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Forcing light mode background for now so your white text/cards stay visible */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}